<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="DICOMCustomSection" type="DBSetup.Common.DICOM.Configuration.CustomSection, DBSetup.Common"/>
	</configSections>

	<log4net debug="false">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\\DbSetupLog.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>

	<DICOMCustomSection>
		<DICOMMergeFieldGroups>
			<DICOMMergeFieldGroup name="OB" desc="Standard SR for OB Measurements" csv=".\DB\Dicom\Files\OB.csv" xml=".\DB\Dicom\Files\STD_OB.xml"></DICOMMergeFieldGroup>
			<DICOMMergeFieldGroup name="GYN" desc="Standard SR for GYN Measurements" csv=".\DB\Dicom\Files\GYN.csv" xml=".\DB\Dicom\Files\STD_GYN.xml"></DICOMMergeFieldGroup>
			<DICOMMergeFieldGroup name="VASC" desc="Standard SR for Vascular Measurements" csv=".\DB\Dicom\Files\VASC-UPPER.csv" xml=".\DB\Dicom\Files\STD_VASC.xml"></DICOMMergeFieldGroup>
		</DICOMMergeFieldGroups>
	</DICOMCustomSection>

	<appSettings>
		<add key="updateKeywords" value="Upgrade,Update,Patch Update"/>
		<add key="newKeywords" value="New,"/>
		<add key="versionControl" value="db\populate.sql"/>
		<!--prompts settings in case when we have latest DB version-->
		<add key="promtInCaseOfLatestDbVersion" value="false"/>
		<add key="dbIsUpToDateText" value=""/>

		<add key="renamingModule" value="DB\Misc\RenameDBComm1ToComm4.sql"/>
		
		<add key="addHealthSystemSql" value="AddHealthSystem.sql"/>
		<add key="addUserSql" value="ps360AddSQLUsers.sql"/>
		<add key="adminUserSql" value="adminuser.sql"/>
		<add key="createHealthSystemSql" value="ps360CreateHealthSystem.sql"/>

		<!--Procedures which will be called on final step-->
		<add key="spHealthSystem" value="dbo.ps360_CreateHealthSystem"/>
		<add key="spUser" value="dbo.PS360_AddSQLUsers"/>

		<!--Finalization control section-->
		<add key="healthGBText" value="Health system information"/>
		<add key="userGBText" value="PS360 user settings"/>

		<!--Some hardcoded values for final steps-->
		<add key="pWorkflow" value="Radiology"/>

		<!--PS360 user config-->
		<add key="pPS360User" value="PS360User"/>
		<add key="pPS360UserPwd" value = "ps360$Rad%Pws.Rg%x8a!h"/>

		<add key="finalSection" value="Finalization"/>
	
		<!--DICOM settings-->

		<add key="MANUFACTURER" value="Philips Medical Systems" />
		<add key="MODEL" value="EPIQ 7C" />
		<add key="VERSION" value="EPIQ 7G_1.0.0.2071" />
		
		<add key="STD_OB_FILE" value=".\DB\Dicom\Files\STD_OB.xml" />
		<add key="STD_GYN_FILE" value=".\DB\Dicom\Files\STD_GYN.xml" />
		<add key="STD_VASC_FILE" value=".\DB\Dicom\Files\STD_VASC.xml" />
		<add key="STD_ADULTECHO_FILE" value=".\DB\Dicom\Files\STD_ADULTECHO.xml" />
		<add key="STD_ABDO_FILE" value=".\DB\Dicom\Files\STD_ABDO.xml" />
		
		<add key="STD_OB_CODE" value="125000" />
		<add key="STD_GYN_CODE" value="125000" />
		<add key="STD_VASC_CODE" value="125100" />
		<add key="STD_ADULTECHO_CODE" value="125200" />
		<add key="STD_ABDO_CODE" value="125100" />
		<add key="STD_OB_TEMP_NAME" value="OB-GYN Ultrasound Procedure Report" />
		<add key="STD_GYN_TEMP_NAME" value="OB-GYN Ultrasound Procedure Report" />
		<add key="STD_VASC_TEMP_NAME" value="Vascular Ultrasound Procedure Report" />
		<add key="STD_ADULTECHO_TEMP_NAME" value="Adult Echocardiography Procedure Report" />
		<add key="STD_ABDO_TEMP_NAME" value="Vascular Ultrasound Procedure Report" />
		<add key="STD_OB_NAME" value="Standard SR for OB Measurements" />
		<add key="STD_GYN_NAME" value="Standard SR for GYN Measurements" />
		<add key="STD_VASC_NAME" value="Standard SR for Vascular Measurements" />
		<add key="STD_ADULTECHO_NAME" value="Standard SR for Adult Echo Measurements" />
		<add key="STD_ABDO_NAME" value="Standard SR for Abdominal Measurements" />
		<add key="STD_OB_DESC" value="Standard SR for OB Measurements" />
		<add key="STD_GYN_DESC" value="Standard SR for GYN Measurements" />
		<add key="STD_VASC_DESC" value="Standard SR for Vascular Measurements" />
		<add key="STD_ADULTECHO_DESC" value="Standard SR for Adult Echo Measurements" />
		<add key="STD_ABDO_DESC" value="Standard SR for Abdominal Measurements" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />

		<add key="DICOMMergeFieldGroup_Name_OB" value="ob"/>
		<add key="DICOMMergeFieldGroup_Name_GYN" value="GYN"/>
		<add key="DICOMMergeFieldGroup_Name_VASC" value="VASC"/>
		<add key="DICOMMergeFieldGroup_Name_ADULTECHO" value="ADULTECHO"/>
		<add key="DICOMMergeFieldGroup_Name_ABDO" value="ABDO"/>
	</appSettings>

	<runtime>
		<gcConcurrent enabled="true"/>
	</runtime>
</configuration>